{% extends 'chat/messenger.html' %}

{% block content %}
<div id="chat_div">
    <div id="friends_div">
        {% include 'chat/_friend_list.html' %}
    </div>

    <div id="chat_window">
        {% include 'chat/_chat_top.html' %}
        {% include 'chat/_chat_window.html' %}
        {% include 'chat/_message_form.html' %}
    </div>

    <div id="rooms_div">

        {% include 'chat/_chat_list.html' %}
    </div>

</div>
{% endblock %}


{% block js %}

    <script type="text/javascript">
    var user_id = '{{ user_id }}';
    var friend_id = '{{ friend.id }}';
    var chat_id = '{{ chat.id }}';
    var unread_msgs = '{{ unread_msgs }}';
    </script>
    <script src="{% static 'js/chat.js' %}"></script>


{% endblock %}


